.label {
  display: grid;
  gap: 10px;
  span{
    font-family: "Fonts", helvetica, arial, sans-serif;
  }
  font-family: "Fonts", helvetica, arial, sans-serif;
  input {
    width: 100% !important;
    font-size: 18px;
    font-family: "Fonts", helvetica, arial, sans-serif;
  }
}