//@font-face {
//  font-family: "Fonts";
//  font-weight: normal;
//  src:   url('../fonts/NouvelR-Regular.woff2')
//  format("woff2");
//}
//@font-face {
//  font-family: "Fonts";
//  font-weight: bold;
//  src:   url('../fonts/NouvelR-Bold.woff2')
//  format("woff2");
//}

@font-face {
  font-family: "Fonts";
  font-weight: normal;
  src:   url('../fonts/NouvelRRegular.ttf')
  format("woff2");
}
@font-face {
  font-family: "Fonts";
  font-weight: bold;
  src:   url('../fonts/NouvelRBold.ttf')
  format("woff2");
}



//@font-face {
//  font-family: "Fonts";
//  font-weight: normal;
//  src:   url('../fonts/MMC-Regular.woff')
//  format("woff2");
//}
//@font-face {
//  font-family: "Fonts";
//  font-weight: bold;
//  src:   url('../fonts/MMC-Bold.woff')
//  format("woff2");
//}
//@font-face {
//  font-family: "Iconfont";
//  src:   url('../fonts/Iconfont.woff2')
//  format("woff2");
//}