.form{
  padding: 0;
  margin-bottom: 20px;
  font-family: "Fonts", helvetica, arial, sans-serif;
  .form_wrapper{
    display: grid;
    gap: 10px;
    font-family: "Fonts", helvetica, arial, sans-serif;
  }
}